google-cloud-bigquery==3.11.4
google-cloud-storage==2.10.0
google-auth==2.23.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.1
kafka-python==2.0.2
pyspark==3.5.0
apache-airflow-providers-google==10.10.1
pandas==2.0.3